@import url("./classes.css");
@import url("./tags.css");
@import url("./ids.css");
@import url("./relatorio.css");

@media screen
{	

	div#filtro1 {
		position: absolute;
		left : 300px;
		top :760px;
		z-index: 2;
		border: 1px solid #006FA8;
		width: 300px;
		background: #FFFFFF;
		text-align: center;
		
	}
	

	div#dvCbos
	{
		
  		margin            	:0px;
	    border            	:0px solid #008B8B;
	
	    width       		:580px;
	}
		
	
	#tituloParametro
	{
		
		font-weight: bold;
		font-size: 11px;
		color: #0038A8;
		font-family: Tahoma, Arial, Helvetica, sans-serif;
		text-decoration: none;
		width: 175px;
		padding: 5px 5px 5px 25px;
		
	}
	
	
	div#caixa
	{
		width         	:450px;
    	padding         :0px 0 0 25px;
    	border			:0px solid red;
    	text-align: left;
    	 
	}
	
	div#dvCpsDesc
	{
		
		
	}

	div#dvCpsDescValor
	{
		
		
	}
	div#caixaSelect
	{
		width         	:580px;
    	
    	padding         :0px 0 0 25px;
    	border			:0px solid red;
	}
	
	div#filtro2 {
		position: absolute;
		left : 300px;
		top :530px;
		z-index: 1;
		border: 1px solid #006FA8;
		width: 300px;
		background: #FFFFFF;
		text-align: center;
		
	}
	
	div#dvLimites
	{
		
  		margin            	:0px 0px 2px 0px;
	   	background-color  	:#E5F0F6;
	    border            	:1px solid #006FA8;
	    text-align		  	:left;
	    width       		:297px;
	}
	
	#grafico
	{
		width         	:140px;
		text-align    	:left;
		color         	:#0038A8;
		border			: 0px solid red;
		float			:left;
		padding			:2px 0px 0px 5px; 
	}
	#grafico2
	{
		width         	:147px;
		text-align    	:left;
		color         	:#0038A8;
		border			: 0px solid red;
		float			:left;
		padding			:2px 0px 0px 5px; 
	}
	
	div#caixaFiltro
	{
		width         	:140px;
    	padding         :0px 0 0 8px;
    	border			:0px solid red;
	}
	

	
}