ul.topnav {
	list-style: none;
	padding: 0 20px;
	margin: 0;
	float: left;
	width: 900px;
	background: #CECECE;
	font-size: 1.2em;
	height: 35px;
}

ul.topnav li {
	float: left;
	margin: 0;
	padding: 0 15px 0 0;
	position: relative;
	/*--Declare X and Y axis base for sub navigation--*/
}

ul.topnav li a {
	padding: 10px 5px;
	color: #444444;
	display: block;
	text-decoration: none;
	float: left;
}

ul.topnav li a:hover {
	background-color: #619fa1;
	color: #F9F9F9;
}
ul.topnav li span { /*--Drop down trigger styles--*/
	width: 17px;
	height: 35px;
	float: left;
	background: url(subnav_btn.gif) no-repeat center top;
}

ul.topnav li span.subhover {
	background-position: center bottom;
	cursor: pointer;
} /*--Hover effect for trigger--*/
ul.topnav li ul.subnav {
	list-style: none;
	position: absolute;
	/*--Important - Keeps subnav from affecting main navigation flow--*/
	left: 0;
	top: 35px;
	background: #333;
	margin: 0;
	padding: 0;
	display: none;
	float: left;
	width: 170px;
}

ul.topnav li ul.subnav li {
	margin: 0;
	padding: 0;
	clear: both;
	width: 170px;
}

html ul.topnav li ul.subnav li a {
	float: left;
	width: 145px;
	background: #CECECE;
	padding-left: 20px;
}

html ul.topnav li ul.subnav li a:hover {
	/*--Hover effect for subnav links--*/
	background: #619fa1;
}