
		#modal_curriculo {
			width: 90%; /*!important;*/
			margin-left: -45%;
			top: 1% !important;
			margin-top: 0px !important;
		}

		#modal_visualizarHistorico{
			width: 55% !important;
			margin-left: -29%;
			top: 45% !important;
		}

		.dropdownFiltro {
			width: 250px;
			padding: 8px;
		}
		table tr td{
			text-overflow: ellipsis;
			max-width: 100px;
			overflow: hidden;
			padding: 15px !important;
		}
		
