.inicio h3 {
	color:#96CA65;
}
.content-area {
	border-left: 1px solid #D8D8D8;
	border-right: 1px solid #D8D8D8;
	border-bottom: 1px solid #D8D8D8;
	padding: 5px 17px;
}
.content-area .row-fluid {
	margin: 3px 0;
}
.content-area:FIRST-CHILD {
	border-top: 1px solid #D8D8D8;
}
.content-area:nth-child(2) {
	border-top: 1px solid #D8D8D8;	
}
.content-area.alternado {
	background-color:#FAFAFA;
}
.content-row {
	display: block;
	margin: 0.15em 0;
	cursor: default;
}
.content-row > div {
	color:#60893D;
	font-size: 85%;
	line-height: 10px;
}
.content-row > span {
	color:#7B7B7B;
}
.content-row span.servico{
	color:#7B7B7B;
}
.content-row span.escuro-negrito {
	font-weight: bold;
}
.content-row span.verde-normal {
	color:#96CA65;
}	
.content-row span.verde-negrito{	
	font-weight: bold;
	color:#96CA65;
}	
.content-row span.prioridade{	
	font-weight: bold;
}
.content-row span.prioridade.Alta{	
	color:#BB2727;
}
.content-row span.prioridade.Media{	
	color:#EDAB00;
}
.content-row span.prioridade.Baixa{	
	color:#316796;
}
.content-row button.btn, .content-row input[type="submit"].btn, .content-row .btn-group.btn-block .dropdown-toggle {
	line-height: 15px;
}
@media only screen and (max-width: 1280px) {
	.content-row button.btn {
		padding: 4px 6px;
	}
}
.content-row .btn .caret {
	margin-top: 6px;
}
.inicio, .fim {
	margin: 2px 0;
}

/* Hack */
.modal-body 
{
   max-height:100%;
}
.modal
{
   width:70%;
   margin-left: -35%;
   min-height: 250px!important;
}

#frameNovaConexaoBI{
	border: 0px!important;
	width: 100%!important;
	min-height: 410px!important;
	height: auto!important;
}

#frameEditarConexaoBI{
	border: 0px!important;
	width: 100%!important;
	min-height: 410px!important;
	height: auto!important;
}

#frameAgendamentoExecucaoEspecificaBI{
	border: 0px!important;
	width: 100%!important;
	min-height: 250px!important;
	height: auto;
}

#frameAgendamentoExecucaoExcecaoBI{
	border: 0px!important;
	width: 100%!important;
	min-height: 250px!important;
	height: auto;
}


iframe{
	border: 1px solid #9BA5A5!important;
}

.autocomplete{
	width: 347px!important;
}

.atualizar {
	display: inline-block;
	padding: 4px 12px;
	margin-bottom: 0;
	text-align: center;
	vertical-align: middle;
}

.campoObrigatorio:after {
	color: #FF0000;
	content: "*";
}

.blue{
	color: #000080!important;
}

.labelOverflowTresPontinhos {text-overflow: ellipsis;overflow: hidden;white-space: nowrap; font-weight: bold;}

.w15{
	width:140px !important; margin:0 0 0 5px;
}

.importacao input{
	display: inline;
	float: left;
	margin-top: 0px;
	margin-left: 1px;
}

.importacaoLabel {
	display: inline-flex;
}

.filtrobar.main .topfiltro > li:last-child.open .dropdown-menu {
  right: 0;
}
.filtrobar.main .topfiltro > li.open .dropdown-menu {
  background: #363432;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  right: 0;
}
.filtrobar.main .topfiltro > li.open .dropdown-menu.pull-left {
  left: 0;
}
.filtrobar.main .topfiltro > li.open .dropdown-menu li {
  border-bottom: 1px solid #4a4947;
}
.filtrobar.main .topfiltro > li.open .dropdown-menu li:last-child {
  border-bottom: none;
}
.filtrobar.main .topfiltro > li.open > .dropdown-menu {
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
}
.filtrobar.main .topfiltro > li.open > .dropdown-menu:before {
  content: "";
  width: 0;
  height: 0;
  border: 11px solid transparent;
  position: absolute;
  display: block;
  left: 7px;
  border-top-width: 0;
  border-bottom-color: #999;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  top: -11px;
}
.filtrobar.main .topfiltro > li.open > .dropdown-menu:after {
  content: "";
  width: 0;
  height: 0;
  border: 10px solid transparent;
  top: -10px;
  border-top-width: 0;
  border-bottom-color: #ffffff;
  position: absolute;
  display: block;
  left: 8px;
}
.filtrobar.main .topfiltro > li.open > .dropdown-menu.pull-right:before,
.filtrobar.main .topfiltro > li.open > .dropdown-menu.pull-right:after {
  left: auto;
  right: 7px;
  margin: 0;
}
.filtrobar.main .topfiltro > li.open > .dropdown-menu.pull-right:after {
  right: 8px;
}
.filtrobar.main .topfiltro > li.open .dropdown-menu.pull-right {
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
}
.filtrobar.main .topfiltro > li.open .dropdown-menu {
  background: #fff;
  border: 1px solid #c8c8c8;
  margin: 8px 0 0;  /* Incio dos menus dropdown*/
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
}
.filtrobar.main .topfiltro .dropdown > a .caret {
  border-top-color: #9a9a9b;
  top: 8px;
  position: relative;
}
.filtrobar.main .topfiltro .dropdown-menu {
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
}
.filtrobar.main .topfiltro:last-of-type {
  margin-right: 0px; /*retirado, pois a funcionalidade de esconder o topo foi retirada*/
}
#filtroLabel{
	width: 50px!important;
}

.statusFiltro{
	width: 100px!important;
}
.itensPorPagina{
	width: 50px!important;
}