.table {
	border-left: 1px solid #ddd;
}

.table th {
	border: 1px solid #ddd;
	padding: 4px 10px;
	border-left: none;
	background: #eee;
}

.table td {
	border: 1px solid #ddd;
	padding: 4px 10px;
	border-top: none;
	border-left: none;
}

.outputext.text {
	box-shadow: 0 0 0 0 #DDDDDD inset;
	font-weight: bold;
	border: 0px;
	background: none;
}

input.text:hover.outputext {
	box-shadow: none !important;
}

input.text:focus.outputext {
	box-shadow: none !important;
}

input.text.outputext {
	box-shadow: none !important;
}

.col_15 {
	width: 13% !important;
}