@CHARSET "ISO-8859-1";

.radio, 
.checkbox {
	padding-left: 20px;
}

.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
    margin-left: 10px;
}
.radio.inline,
.checkbox.inline {
	padding-top: 0;
}

/* Despesa Viagem Item */
.despesa-viagem-item {
	border-width: 0 1px 1px;
	border-color: #ccc;
	border-style: solid;
}
.despesa-viagem-item:first-child {
	border-top-width: 1px !important;
}

#divBotoesAcao a {
	font-size: 1.1em;
}

/* Tree View */
.treeview {
	padding: 10px;
}
.treeview > li {
	padding: 0px 0 2px 10px !important;
}
.treeview > li .hitarea {  }
.treeview > li.expandable {
	background: none;
}
.treeview > li.expandable .hitarea {
	background: url(icon-arrow-right.png) no-repeat;
	margin: 2px 0 0 -5px;
}
.treeview > li.collapsable {
	background: none;
}
.treeview > li.collapsable .hitarea {
	background: url(icon-arrow-down.png) no-repeat;
	margin: 2px 0 0 -5px;
}
.treeview > li .folder {
	background: none !important;
	padding: 0px 0 1px 16px;
}
.treeview > li ul {  }
.treeview > li ul li {
	background: none;
	padding: 0px 0pt 3px 16px !important;
}
.treeview > li ul li .file {
	background: none;
	padding: 0px 0 0 10px;
}
.treeview > li ul li.last {  }
.treeview > li ul li.last .file {  }

/* Table Integrante Controle */
.table_integrante_controle {
	width: 100%;
}

.table_integrante_controle tr {
	border-top: 1px solid #d8d8d8;
}

.table_integrante_controle tr:first-child {
	border-top: none;
}

.table_integrante_controle tr td {
	padding: 10px 0 3px;
	vertical-align: top;
}

.table_integrante_controle tr td .glyphicons {
	color: #000;
}

.table_integrante_controle tr td .glyphicons i {
	color: #8ec657;
}

#form-itens-container {
	margin-bottom: 15px;
}

/* Widget */
.widget.widget-hide-button-collapse .widget-head .collapse-toggle {
	display: none !important;
}

#add_itens {
	float: right;
	margin: 3px 0 0;
}

#integrantes-itens {
	margin: 0;
}