		div#main_container {
			margin: 10px 10px 10px 10px;
		}

		.linhaSubtituloGrid {
			background: linear-gradient(to bottom, #FCFCFC 0%, #F5F5F5 100%) repeat scroll 0 0 transparent !important;
			border: 1px solid #D8D8D8 !important;
			font-size: 12px !important;
			color: #333 !important;
			font-family: arial !important;
			font-weight: bold !important;
		}

		.linhaGrid{
			border: 1px solid black;
			background-color: #F2F2F2;
			vertical-align: middle;
		}