@CHARSET "ISO-8859-1";

.widthTextArea{
	width: 80%;
}

.centralizar{
	text-align: center;
	font-size: 25px;
}
.alinhaBotao{
	margin-top: 23px;
}

.destacado {
	border: 1px solid #ddd;
	padding: 4px 10px;
	border-left: none;
	background: #eee;
	font-size: 14px;
}

.table {
	border-left: 1px solid #ddd;
	width: 100%;
}

.table th {
	border: 1px solid #ddd;
	padding: 4px 10px;
	border-left: none;
	background: #eee;
}

.table td {
	border: 1px solid #ddd;
	padding: 4px 10px;
	border-top: none;
	border-left: none;
}

.table1 {
	
}

.table1 th {
	border: 1px solid #ddd;
	padding: 4px 10px;
	background: #eee;
}

.table1 td {
	
}

div#main_container {
	margin: 0px 0px 0px 0px;
}

.container_16 {
	width: 100%;
	margin: 0px 0px 0px 0px;
	letter-spacing: -4px;
}

#modal_HistoricoVersoes .modal-body{

 	width: 1235px!important;
}

#modal_HistoricoVersoes{
	left:30%!important;
 	width: 1250px!important;
}

.botaoAdd{
	margin-top: 0px;
	margin-left: 7px;
	margin-bottom: 2px;
}

.divInline{
	display: flex !important;
}