.inicio h3 {
	color: #96CA65;
}

.content-area {
	border-left: 1px solid #D8D8D8;
	border-right: 1px solid #D8D8D8;
	border-bottom: 1px solid #D8D8D8;
	padding: 5px 17px;
}

.content-area .row-fluid {
	margin: 3px 0;
}

.content-area:FIRST-CHILD {
	border-top: 1px solid #D8D8D8;
}

.content-area:nth-child(2) {
	border-top: 1px solid #D8D8D8;
}

.content-area.alternado {
	background-color: #FAFAFA;
}

.content-row {
	display: block;
	margin: 0.15em 0;
	cursor: default;
}

.content-row>div {
	color: #60893D;
	font-size: 85%;
	line-height: 10px;
}

.content-row>span {
	color: #7B7B7B;
}

.content-row span.servico {
	color: #7B7B7B;
}

.content-row span.escuro-negrito {
	font-weight: bold;
}

.content-row span.verde-normal {
	color: #96CA65;
}

.content-row span.verde-negrito {
	font-weight: bold;
	color: #96CA65;
}

.content-row span.prioridade {
	font-weight: bold;
}

.content-row span.prioridade.Alta {
	color: #BB2727;
}

.content-row span.prioridade.Media {
	color: #EDAB00;
}

.content-row span.prioridade.Baixa {
	color: #316796;
}

.content-row button.btn, .content-row input[type="submit"].btn,
	.content-row .btn-group.btn-block .dropdown-toggle {
	line-height: 15px;
}

.content-row .btn .caret {
	margin-top: 6px;
}

.inicio, .fim {
	margin: 2px 0;
}

.filtro {
	margin: 10px 0 !important;
	padding: 15px;
	border: 1px solid #D8D8D8;
	background: rgb(252, 252, 252);
	background: -moz-linear-gradient(top, rgba(252, 252, 252, 1) 0%, rgba(245, 245, 245, 1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(252, 252, 252, 1)), color-stop(100%, rgba(245, 245, 245, 1)));
	background: -webkit-linear-gradient(top, rgba(252, 252, 252, 1) 0%, rgba(245, 245, 245, 1) 100%);
	background: -o-linear-gradient(top, rgba(252, 252, 252, 1) 0%, rgba(245, 245, 245, 1) 100%);
	background: -ms-linear-gradient(top, rgba(252, 252, 252, 1) 0%, rgba(245, 245, 245, 1) 100%);
	background: linear-gradient(to bottom, rgba(252, 252, 252, 1) 0%, rgba(245, 245, 245, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#f5f5f5', GradientType=0);
}

.filtro .input-append {
	margin: 0px !important;
	display: inline !important;
}

.w15 {
	width: 100px;
	margin: 0 0 0 5px;
}

.dropdownFiltro {
	width: 500%;
	padding: 10px;
}

.dropdownFiltro label {
	color: #60893D;
	line-height: 10px;
	text-overflow: ellipsis;
	overflow: hidden;
}

.visualizaFiltro {
	visibility: visible;
}

.dropdownFiltro.pull-right {
	-webkit-border-radius: 0 0 0 0;
	-moz-border-radius: 0 0 0 0;
	border-radius: 0 0 0 0;
}

.filtro-toogle ul {
	margin: 0;
	padding: 0;
	list-style: none;
	border-left: 1px solid #d8d8d8;
	border-right: 1px solid #ffffff;
}

.dropdownFiltro.pull-right:after {
	left: auto;
	right: 7px;
	margin: 0;
}

.dropdownFiltro.pull-right:before {
	left: auto;
	right: 12px;
}

#chart_simple, #chart_lines_fill_nopoints, #chart_ordered_bars,
	#chart_pie {
	width: 100%;
}

.listaDetalhada {
	display: none;
}

.listaResumida {
	display: none;
}

.ativo {
	display: block;
}

#frameNovaSolicitacao {
	border: 0px !important;
	width: 100% !important;
	min-height: 500px !important;
}

#frameReclassificarSolicitacao {
	border: 0px !important;
	width: 99% !important;
	min-height: 80%;
}

#modal_novaSolicitacao .modal-body {
	max-height: 700px;
}

#contentFrameNovaSolicitacao {
	data-scroll-height: 700px;
}

.modal-body {
	max-height: 80%;
}

.modal {
	width: 70%;
	margin-left: -35%;
}

@media ( max-width : 768px) {
	.modal {
		width: 90%;
		margin-left: 2%;
	}
}

.atualizar {
	display: inline-block;
	padding: 4px 12px;
	margin-bottom: 0;
	text-align: center;
	vertical-align: middle;
}

input[type=text]::-ms-clear {
	display: none !important;
}

.quebraPalavras {
	word-wrap: break-word;
}

.tabelaFixa {
	table-layout: fixed;
}
