body {
	color: #333;
	font: 13px/18px 'Open Sans',arial,sans-serif;
	font-weight: 400;
}
img {
	border: 0;
}

#header {
	height: 64px;
	position: relative;
}

.compact {
	border-left: 26px transparent solid;
	border-right: 26px transparent solid;
	/* max-width: 928px; */
	margin: 0 auto;
}

#header .g-split {
	border-bottom: 1px solid #e8e8e8;
}

#header-logo {
	margin-top: 20px;
}

#logo {
	width: 123px;
}

#main {
	color: #777;
}

.browser-features #marquee {
	margin: 50px auto 10px;
}

#marquee {
	margin: 50px auto;
	position: relative;
}

.row {
	display: block;
	margin: 0.65em 0;
	min-width: 500px;
}

input[type='password'], input[type='search'], input[type='text'], input[type='url'], input:not([type]), textarea {
	border: 1px solid #bfbfbf;
	border-radius: 2px;
	box-sizing: border-box;
	color: #444;
	font: inherit;
	margin: 0;
	min-height: 2em;
}

section {
	-webkit-padding-start: 18px;
	margin-bottom: 24px;
	margin-top: 8px;
	max-width: 60%;
}

section > h3 {
	-webkit-margin-start: -18px;
}



.marquee-divider {
	border-bottom: 1px solid #dbdbdb;
}

.g-unit.g-col-4 {
	width: 33.333%;
}

.marquee-copy .g-content {
	height: 400px;
}

.marquee-copy .g-content {
	position: relative;
	z-index: 2;
	/* display: table; */
	height: 410px;
}

.g-content {
	margin-right: 13px;
}

.marquee-copy .g-content-inner {
	/* display: table-cell; */
	vertical-align: middle;
}

#marquee h1 {
	margin: 0 0 .3em;
}

.marquee-copy .wrap {
	white-space: normal;
}

.marquee-copy h1 {
	margin: 0 0 .3em;
	white-space: nowrap;
}

h1,.h1 {
	color: #000;
	font-size: 3.2em;
	font-weight: 300;
	line-height: 1.15;
	margin: 0 0 .7em;
}

.marquee-copy p {
	width: auto;
}

.marquee-copy p {
	font-weight: 400;
	line-height: 1.4em;
}

.marquee-copy p {
	padding-right: 10px;
	font-size: 15px;
}

p {
	line-height: 1.6;
}

p {
	margin: .1em 0 .2em;
}
.g-unit.g-col-8 {
	width: 66.666%;
}

.g-unit, .g-unit .g-tpl-nest .g-unit, .g-unit .g-unit .g-tpl-nest .g-unit, .g-unit .g-unit .g-unit .g-tpl-nest .g-unit, .g-unit .g-unit .g-unit .g-unit .g-tpl-nest .g-unit, .g-unit .g-unit .g-unit .g-unit .g-unit .g-tpl-nest .g-unit {
	float: left;
	width: auto;
	display: inline;
	margin: 0;
}

 .gradient {
	 filter: none;
 }

.button {
    background: -moz-linear-gradient(center top , #008DFD 0px, #0370EA 100%) repeat scroll 0 0 transparent;
    background: -webkit-linear-gradient(top,#008dfd 0,#0370ea 100%);
    background: linear-gradient(top,#008dfd 0,#0370ea 100%);
    border: 1px solid #076BD2;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF !important;
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.3;
    padding: 8px 25px;
    text-align: center;
    text-decoration: none !important;
    text-shadow: 1px 1px 1px #076BD2;
    margin-right: 10px;
    
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008dfd', endColorstr='#0370ea',GradientType=0 ); /* IE6-9 */
}

.button:hover {
	background: -moz-linear-gradient(top,#008dfd 30%,#0370ea 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(30%,#008dfd),color-stop(100%,#0370ea));
	background: -webkit-linear-gradient(top,#008dfd 30%,#0370ea 100%);
	background: linear-gradient(top,#008dfd 30%,#0370ea 100%);
	cursor: pointer;
}
.button:disabled {
    border-radius: 3px 3px 3px 3px;
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.3;
    padding: 8px 25px;
    text-align: center;
    text-decoration: none !important;
    text-shadow: 1px 1px 1px #e6e6e6;
    margin-right: 10px;
    background-image: -moz-linear-gradient(center top , #f1f1f1 0px, #e6e6e6 100%);
	background-image: -webkit-linear-gradient(#f1f1f1, #f1f1f1 38%, #e6e6e6);
    background-image: linear-gradient(top,#f1f1f1 0,#e6e6e6 100%);
	border: 1px solid rgba(80, 80, 80, 0.2);
	box-shadow: 0 1px 0 rgba(80, 80, 80, 0.08), inset 0 1px 2px rgba(255, 255, 255, 0.75);
	color: #AAA !important;
	
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-9 */
}
select {
	padding: 5px;
}
a {
	color: #333;
}
a {
	color: #000;
	font-weight: 600;
	text-decoration: none;
}
.hide {
	display: none;
}

.termos {
	width: 600px;
	height: 250px;
}
.w20 {
 	display: inline-block;
    width: 25%;
    vertical-align: top;
}