.linhaGrid {
	border: 1px solid black;
	background-color: white;
	vertical-align: middle;
}

body {
	background-color: white;
}

#GRID_ITENS_tblItens {
	margin-top: 3px;
	margin-left: 2px;
}

.linhaSubtituloGrid {
	padding: 5px;
}

#valorTotal {
	margin-left: 2px;
}

#paginaTotal {
	background-color: white;
	background-image: url("");
}
/* Hack */
.modal-body
{
   max-height:80%;
}
.modal
{
   width:80% !important;
   margin-left: -40% !important;
}