.campoObrigatorio:after {
	color: #FF0000;
	content: "*";
}
	#modal_historicoCandidato{
			width: 950px!important;
			margin-left: -49%; 
			top: 1%!important;
			margin-top: 0px!important;
		}
		
	#modal_historicoCandidato .modal-body{
			max-height: 705px!important;
			overflow: auto!important;
		}