.glyphicons.btn-mini{
	  padding: 6px 6px 1px 33px!important;
	  margin-left: 5px!important;
}
.input-append .add-on:last-child, .input-append 
.btn:last-child, .input-append .btn-group:last-child > .dropdown-toggle{
	border-radius:1px!important;
}

.input-append .add-on, .input-prepend .add-on, 
.input-append .btn, .input-prepend .btn, .input-append 
.btn-group > .dropdown-toggle, .input-prepend .btn-group > .dropdown-toggle{
	border-radius:1px!important;
}
.autocomplete{
	width: 402px!important;
}

.radio,
.checkbox {
	padding-left: 20px;
}
.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
    margin-left: 10px;
}

#formInternacionaliza {
	float: right;
}

#header-info-curriculo {
	float: right;
	margin: 26px 30px 0px 0px;
}

.heading {
	border-bottom: 1px solid;
	line-height: 1.2em;
	margin: 0 0 15px;
	padding: 0 0 5px;
}
h2.heading {
	font-size: 24px;
}
h3.heading {
	font-size: 18px;
}

#formPesquisaCurriculo .widget .widget-body {
	padding: 20px;
}

.campoObrigatorio:after {
	color: #FF0000;
	content: "*";
}

.header-logo-curriculo {
	margin: 20px 0 0 20px !important;
	width: auto;
}

table tr span.btn-action {
	display: block;
	margin: 2px auto;
}
table tr td:last-child {
	vertical-align: middle;
}
.box-container {
	margin-top: 20px;
}
.box-container:first-child {
	margin-top: 0;
}
.box-container .btn-add {
	margin-bottom: 15px;
}

.box-container .btn-add > span {
	margin-left: 0 !important;
}

/* Email Container */
#email-container {  }
#email-container .input-email-container {
	display: block;
	overflow: hidden;
}
#email-container .btn-add-email {
	float: right;
}

/* Telefone Container */
#telefone-container .btn-add-telefone {
	float: right;
	margin-top: 25px;
}
#telefone-container .inputs-telefones-container {
	display: block;
	overflow: hidden;
}

/* Endereco Container */
#endereco-container .btn-add-endereco-container {
	float: left;
}
#endereco-container #divEnderecoPrincipal {
	float: left;
	margin-left: 15px;
}

/* Competencias Container */
#competencias-container .btn-add-competencia {
	float: right;
	margin: 25px 0 0 20px !important;
}
#competencias-container .competencia-input-container {
	overflow: hidden;
}

/* Certificacoes Container */
#certificacoes-container .btn-add-certificacao {
	float: right;
	margin: 25px 0 0 20px !important;
}
#certificacoes-container .certificacao-input-container {
	overflow: hidden;
}

/* Anexos Container */
#anexos-container #btnAdduploadAnexos {
	padding: 4px 10px;
	vertical-align: top;
}

table th{
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 100px;
	overflow: hidden;
}

table tr td{
	word-wrap: break-word;
}

#modal_funcaocandidato{
	
	width: 550px!important;
	
}

table {
	width:99%;	
}

#foto {
	float: left;
	margin: 0 20px 0 0;
	width: 150px;
}

#dadosPessoais {
	overflow: hidden;
}

#modal_foto #arquivo {
	width: 325px;
}

@-moz-document url-prefix() {
	#modal_foto #arquivo {
		display: inline;
		float: left;
		overflow: visible;
		position: relative;
		text-overflow: ellipsis;
		white-space: nowrap;
		word-wrap: break-word;
		width: 180px;
	}
}

/* Tab3 */
#tab3 {
	min-height: 200px;
}

/* Nao Possui */
.experiencia-nao-possui-container {
    margin-bottom: 15px;
}

/* Experiencias Container */
#experiencia-container {
	position: relative;
}
#experiencia-container.disable:before {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
	content: "";
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: 1000;
}

/* Widget Experiencias */
.widget-experiencias.error,
.widget-funcoes.error {
	border-color: #f00 !important;
}
.widget-experiencias {
	margin-top: 40px;
}
.widget-experiencias:first-child {
	margin-top: 0;
}
.widget-experiencias .close {
	position: absolute;
	right: 15px;
	top: 8px;
	z-index: 1000;
}
.widget-experiencias .widget-head .heading {
	color: #000 !important;
	font-weight: bold;
}
.widget-experiencias > .widget-head .heading {
	font-weight: bold;
}

/* Widget Funcoes */
.widget-funcoes {  }
.widget-funcoes .close {  }

/* Responsive */
@media (max-width: 767px) {
	#foto {
		float: none;
		margin: 0 auto;
		text-align: center;
		width: 320px;
	}
	#telefone-container .btn-add-telefone {
		margin-top: 165px;
	}
	#competencias-container .btn-add-competencia {
		margin-top: 90px !important;
	}	
	#certificacoes-container .btn-add-certificacao {
		margin-top: 165px !important;
	}
	.escondedatafinal .div-a-container label {
		min-height: 0;
	}
}
@media (max-width: 380px) {
	#foto {
		width: auto;
	}
}