body {
    color: #333;
    font: 13px/18px 'Open Sans', arial, sans-serif;
    font-weight: 400;
    background: none;
    float: none;
}

img {
    border: 0;
}

#header {
    height: 64px;
    position: relative;
}

.compact {
    border-left: 26px transparent solid;
    border-right: 26px transparent solid;
    /* max-width: 928px; */
    margin: 0 auto;
}

#header .g-split {
    border-bottom: 1px solid #e8e8e8;
}

#header-logo {
    margin-top: 10px;
}

#logo {
    width: 500px;
}

#main {
    color: #777;
}

.browser-features #marquee {
    margin: 0px auto 10px;
}

#marquee {
    margin: 0px auto;
    position: relative;
}

.row {
    display: block;
    margin: 0.65em 0;
    min-width: 500px;
}

input[type='password'], input[type='search'], input[type='text'], input[type='url'],
    input:not
     ([type]  ),textarea {
    border: 1px solid #bfbfbf;
    border-radius: 2px;
    box-sizing: border-box;
    color: #444;
    font: inherit;
    margin: 0;
    min-height: 3em;
}

section {
    -webkit-padding-start: 18px;
    margin-bottom: 24px;
    margin-top: 8px;
    max-width: 70%;
}

section>h3 {
    width: auto;
}

section>section {
    -webkit-margin-start: -18px;
}

.marquee-divider {
    border-bottom: 1px solid #dbdbdb;
}

.g-unit.g-col-4 {
    width: 33.333%;
}

.marquee-copy .g-content {
    position: relative;
    z-index: 2;
}

.g-content {
    margin-right: 13px;
}

.marquee-copy .g-content-inner {
    vertical-align: middle;
}

#marquee h1 {
    margin: 0 0 .3em;
}

.marquee-copy .wrap {
    white-space: normal;
}

.marquee-copy h1 {
    margin: 0 0 .3em;
    white-space: nowrap;
}

h1, .h1 {
    color: #000;
    font-size: 3.2em;
    font-weight: 300;
    line-height: 1.15;
    margin: 0 0 .7em;
}

.marquee-copy p {
    width: auto;
}

.marquee-copy p {
    font-weight: 400;
    line-height: 1.4em;
}

.marquee-copy p {
    padding-right: 10px;
    font-size: 15px;
}

p {
    line-height: 1.6;
}

p {
    margin: .1em 0 .2em;
}

.g-unit.g-col-8 {
    width: 66.666%;
}

.g-unit, .g-unit .g-tpl-nest .g-unit, .g-unit .g-unit .g-tpl-nest .g-unit,
    .g-unit .g-unit .g-unit .g-tpl-nest .g-unit, .g-unit .g-unit .g-unit .g-unit .g-tpl-nest .g-unit,
    .g-unit .g-unit .g-unit .g-unit .g-unit .g-tpl-nest .g-unit {
    float: left;
    width: auto;
    display: block;
    margin: 0;
}

.gradient {
    filter: none;
}

.label {
    display: inline;
    margin-bottom: 5px;
}

select {
    padding: 5px;
    width: auto;
    background: none;
}

a {
    color: #333;
}

a {
    color: #000;
    font-weight: 600;
    text-decoration: none;
}

.hide {
    display: none;
}

.termos {
    width: 600px;
    height: 250px;
}

.w20 {
    display: inline-block;
    width: 25%;
    vertical-align: top;
}

.w20S {
    display: inline-block;
    width: 25%;
    vertical-align: middle;
}

.throbber {
    background: url('/citsmart/imagens/ajax-loader.gif');
    display: inline-block;
    height: 16px;
    width: 16px;
}

#Throbber {
    margin: 4px 10px;
    vertical-align: middle;
    visibility: hidden;
}

#Throbber_ {
    margin: 4px 10px;
    vertical-align: middle;
    visibility: hidden;
}

.tableLess {
    font-family: arial, helvetica !important;
    font-size: 10pt !important;
    cursor: default !important;
    margin: 0 !important;
    background: white !important;
    border-spacing: 0 !important;
    width: 100% !important;
}

.tableLess tbody {
    background: transparent !important;
}

.tableLess * {
    margin: 0 !important;
    vertical-align: middle !important;
    padding: 2px !important;
}

.tableLess thead th {
    font-weight: bold !important;
    background: #fff url(../../../imagens/title-bg.gif) repeat-x left bottom
        !important;
    text-align: center !important;
}

.tableLess tbody tr:ACTIVE {
    background-color: #fff !important;
}

.tableLess tbody tr:HOVER {
    background-color: #e7e9f9;
    cursor: pointer;
}

.tableLess th {
    border: 1px solid #BBB !important;
    padding: 6px !important;
}

.tableLess td {
    border: 1px solid #BBB !important;
    padding: 6px 10px !important;
}

#LDAP {
    margin: 10px 0;
    display: none;
}

.m10 {
    margin: 10px 0 !important;
}